@model Entity.General

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Genel Ayarlar</h2>
@if (ViewBag.ShowCreateNew)
{
     <p>
       @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.LogoURL)
        </td>
        <td>
           
            <img src="~/Content/@Model.LogoURL" style="width:200px ;height:120px"/>
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.SiteTitle)
        </td>
        <td>
            @Html.DisplayFor(modelModel => Model.SiteTitle)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.SiteDesc)
        </td>
        <td>
            @Html.DisplayFor(modelModel => Model.SiteDesc)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.HeaderTitle)
        </td>
        <td>
            @Html.DisplayFor(modelModel => Model.HeaderTitle)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.HeaderDescription)
        </td>
        <td>
            @Html.DisplayFor(modelModel => Model.HeaderDescription)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.CTA1_Title)
        </td>
        <td>
            @Html.DisplayFor(modelModel => Model.CTA1_Title)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.CTA1_Description)
        </td>
        <td>
            @Html.DisplayFor(modelModel => Model.CTA1_Description)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.CTA2_Title)
        </td>
        <td>
            @Html.DisplayFor(modelModel => Model.CTA2_Title)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.CTA2_Button)
        </td>
        <td>
            @Html.DisplayFor(modelModel => Model.CTA2_Button)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Address)
        </td>
        <td>
            @Html.DisplayFor(modelModel => Model.Address)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Email)
        </td>
        <td>
            @Html.DisplayFor(modelModel => Model.Email)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelModel => Model.Phone)

        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
        </td>
    </tr>
        

</table>
